@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:wght@300&display=swap');

body {
  height: 100vh;
}
.logo{
    position: absolute;
    top: 5%;
    left: 20%;
    }
    .line{
      position: absolute;
      width: 50%;
      height: 0px;
      left: 20%;
      top: 115px;
      border: 1px solid #2204a7;
    }
    .home_icon{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 170px;
    left: 40px;
    z-index: 1;
    }
    .home_a{
      position: absolute;
      top: 14%;
    }
    .home_background{
      position: absolute;
      width: 240px;
      height: 57px;
      left: 11px;
      top: 150px;
    }
    .calendar{
      position: absolute;
      left: 35px;
      right: 95.69%;
      top: 25%;
      bottom: 71.52%;
    }
    .calendar_a{
      position: absolute;
      top: 24%;
    }
    .fe{
      position: absolute;
      left: 35px;
      right: 95%;
      top: 32%;
      bottom: 65%;
    }
    .fe_a{
      position: absolute;
      top: 31%;
    }
    .games{
      position: absolute;
      left: 27px;
      right: 95%;
      top: 39%;
      bottom: 58%;
    }
    .game_a{
      position: absolute;
      top: 38%;
    }
    .nav_on_hover {
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #F7F6FF;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      white-space: nowrap;
      position: absolute;
      width: 100px;
      height: 120%;
    }
    .nav_on_hover:hover{
      width: 16%;
    }
    
    .nav_on_hover a {
      padding: 8px 10px 8px 100px;
      text-decoration: none;
      font-size: 16px;
      color: #818181;
      display: block;
      transition: 0.2s;
    }
    
    .nav_on_hover a:hover {
      color: #024663;
    }
    
    .baltic_institute{
      position: absolute;
      width: 25%;
      height: 24px;
      left: 626px;
      top: 882px;
    }
    .line2{
      position: absolute;
      width: 346px;
      height: 0px;
      left: 580px;
      top: 871px;
      border: 1px solid #024663;
    }

  .container {
  width: 100%;
  max-width: 1345px;
  margin-left: 110px;
  padding-left: 15px;
  padding-right: 15px;
  }
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

  #home{
  background-color: rgb(235,238,245);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  height: 100%;
  }

  #home .left {
  font-weight: 500;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 5px 5px 5px;
  line-height: 44px;
  }

  #home .right {
    
    box-sizing: border-box;
    background-color: white ;
    border-radius: 25px;
    width: 516px;
    height: 147px;
    float: right;
    
  }
  #home .right .text {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
   
  }
  #home .right .text > span {
    color:blue;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 220px;
  }
  #home .left,
  #home .right {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
  }
  #home .left {
    width: 50%;
  }

  #home .home_background {
  position: absolute;
  width: 1344.9px;
  height: 592.22px;
  margin-left: 97.06px;
  margin-top: 100px;
  background-color: rgb(235,238,245);
  }

.footeris {
  margin-top: 50px;
  position: absolute;
  box-sizing: border-box;
  font-family: 'Montserrat';
  border: 2px solid rgb(2, 8, 122);
  border-radius: 25px;
  width: 898px;
  height: 121px;
  margin-left: 271px;
}

.footeris p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  padding-top:25px;
}
    