.logo{
    position: absolute;
    width: calc((120% - 1%) / 2);
    height: 34px;
    top: 5%;
    left: calc((100% - 57%) / 2);
    }
    .line1{
      position: absolute;
      width: calc((120% - 1%) / 2);
      height: 0px;
      left:calc((100% - 60%) / 2);
      top: 110.03px;
      border: 1px solid #C4C4C4;
    }
    .home_icon{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 158px;
    left: 40px;
    z-index: 1;
    }
    .home_a{
      position: absolute;
      top: 16%;
    }
    .home_background{
      position: absolute;
      width: 240px;
      height: 57px;
      left: 11px;
      top: 142px;
    }
    .calendar{
      position: absolute;
      left: 35px;
      right: 95.69%;
      top: 25%;
      bottom: 71.52%;
    }
    .calendar_a{
      position: absolute;
      top: 24.5%;
    }
    .fe{
      position: absolute;
      left: 35px;
      right: 95.69%;
      top: 32%;
      bottom: 65.01%;
    }
    .fe_a{
      position: absolute;
      top: 31.5%;
    }
    .games{
      position: absolute;
      left: 27px;
      right: 95.14%;
      top: 39%;
      bottom: 58.5%;
    }
    .game_a{
      position: absolute;
      top: 38.5%;
    }
    .nav_on_hover {
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #F7F6FF;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      white-space: nowrap;
      position: absolute;
      width: 100px;
      height: 120%;
    }
    .nav_on_hover:hover{
      width: 16%;
    }
    
    .nav_on_hover a {
      padding: 8px 10px 8px 100px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .nav_on_hover a:hover {
      color: #02577A;
    }
    
    .baltic_institute{
      position: absolute;
      width: calc((100% - 50%) / 2);
      height: 24px;
      left: 626px;
      top: 882px;
    }
    .line2{
      position: absolute;
      width: 346.01px;
      height: 0px;
      left: 580px;
      top: 871px;
      border: 1px solid #02577A;
    }
    