body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
   overflow: hidden;
   place-items: bottom right;
}
.content{  text-align: center;
}
h1 {
   text-align: center;
}
.border { text-align: center;
   margin-top: 10%;
   border: 3px solid black;
   width: 35%;
   background:linear-gradient(to bottom right, #f69d3c, #3f87a6);
   margin-left: 35%;
   padding: 25px;
}
.align { position: center;
}
.stilius {
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgba(220, 0, 0, 1);
   background-image: linear-gradient(to top left,
                                     rgba(0, 0, 0, .2),
                                     rgba(0, 0, 0, .2) 30%,
                                     rgba(0, 0, 0, 0));
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
               inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.stilius:hover {
   background-color: rgba(255, 0, 0, 1);
}

.stilius:active {
   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
               inset 2px 2px 3px rgba(0, 0, 0, .6);
            }


