.content { column-count: 2;
}
.half { width: 50%;
    float: left;
}
.img { width: 100%;
    margin: 0 0 15px 20px;
    max-width: 250px;
    float: left;

    
}
body { 
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.color{
    color: #d40707;
}
.color2 {color: #1c9411;
}
.color3 {color: #07394e;
}
.color4 {color: #040958;
}
.color5 {color: #79033a;
}
.color6 {color: #b2c40f;
}
.container {
    width:100%;
    max-width: 700px;
    margin: 0 auto;
}
.right {
    float: right;
    margin: 0 0 15px 20px;
}
.section: :before
section: :after
}